body {
	min-width: 1122px;
	/*min-height: 1750px;*/
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans Narrow", "PT Sans", "Arial";
	text-transform: uppercase;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
h1 {
	margin: 0;
	margin-bottom: 22px;
	padding: 0;
	font-size: 30px;
	line-height: 35px;
	font-family: "PT Sans Narrow", "PT Sans", "Arial";
	font-weight: 700;
	outline: 2px solid #ff0000;
}
h2 {
	font-size: 30px;
	color: #000000;
	font-weight: 700;
	font-family: "PT Sans Narrow", "PT Sans", "Arial";
	text-transform: uppercase
}
.main-header {
	margin-bottom: 60px;
	outline: 2px solid #1ca422;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	outline: 2px solid #c903fb;
}
.main-navigation {
	width: 550px;
	float: left;
	font-size: 0;
	min-height: 70px;
	outline: 2px solid #f8fb03;
}
.main-navigation ul {
	padding: 0;
}
.main-navigation li {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}
.page-header {
	margin-bottom: 55px;
}
.page-header-logo {
	width: 140px;
	margin-right: 10px;
	float: left;
	outline: 2px solid #f8fb03;
	min-height: 70px;
}
.user-block {
	width: 140px;
	float: right;
	min-height: 70px;
	outline: 2px solid #f8fb03;
}
.index-logo {
	width: 368px;
	height: 204px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	outline: 2px solid #1ca422;
}
.features {
	margin-bottom: 80px;
	outline: 2px solid #ff0000;
}
.features-item {
	width: 300px;
	float: left;
	margin-right: 20px;
	outline: 2px solid #f8fb03;
}
.features-item:last-child {
	margin-right: 0;
}
.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;
	outline: 2px solid #ff0000;
}
.index-content:last-child {
	margin-bottom: 65px;
}
.index-content-left {
	float: left;
	width: 380px;
	outline: 2px solid #f8fb03;
	min-height: 330px;
}
.index-content-right {
	float: right;
	width: 300px;
	outline: 2px solid #f8fb03;
	min-height: 330px;
}
.gallery-content {
	margin: 0;
	padding: 0;
}
.breadcrumbs {
	font-size: 0;
	margin-bottom: 55px;
	min-height: 17px;
	outline: 2px solid #ff0000;
}
.breadcrumbs ul {
	margin: 0;
	padding: 0;
}
.breadcrumbs li {
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
}
.shop-gallery {
	margin-bottom: 55px;
	outline: 2px solid #ff0000;
}
.goods-selection {
	float: left;
	width: 220px;
	outline: 2px solid #f8fb03;
}
.items-gallery {
	font-size: 0;
	float: right;
	width: 700px;
	outline: 2px solid #f8fb03;
}
.item-preview {
	font-size: 14px;
	width: 220px;
	height: 286px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
	outline: 2px solid #ff0000;
}
.item-preview:nth-child(3n) {
	margin-right: 0;
}
.page-number {
	font-size: 14px;
}
.item-card {
	margin-bottom: 50px;
	outline: 2px solid #ff0000;
}
.item-images {
	font-size: 0;
	margin: 0;
	padding: 0;
	width: 460px;
	float: left;
	outline: 2px solid #f8fb03;
}
.item-images img {
	margin: 0;
	padding: 0;
}
.img-big {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	box-shadow: 0 0 13px 5px rgba(221, 221, 221, 1);
	outline: 2px solid #1ca422;
}
.item-description {
	padding-top: 25px;
	width: 390px;
	float: right;
	outline: 2px solid #f8fb03;
}
.item-available,
.item-snumber {
	display: block;
}
.item-available {
	float: left;
}
.item-snumber {
	float: right;
	margin-right: 10px;
	color: #aeaeae;
}
.images-preview {
	font-size: 0;
	margin-top: 20px;
}
.img-mini {
	width: 140px;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 20px;
	margin-bottom: 0;
	box-shadow: 0 0 13px 5px rgba(221, 221, 221, 1);
	outline: 2px solid #1ca422;
}
.img-mini:last-child {
	margin-right: 0;
}
.main-footer {
	outline: 2px solid #1ca422;
}
.footer-contacts {
	width: 320px;
	min-height: 190px;
	float: left;
	margin-right: 60px;
	outline: 2px solid #f8fb03;
}
.footer-social {
	width: 180px;
	float: left;
	min-height: 190px;
	outline: 2px solid #f8fb03;
}
.footer-copyright {
	width: 180px;
	float: right;
	min-height: 190px;
	outline: 2px solid #f8fb03;
}
